.view-event-wrapper {
    display: flex;
    flex-direction: column;
    height: fill;
}

.view-event-body {
    display: flex;
    height: fill;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.view-event-button {
    justify-content: bottom;
}